# Ignore files with extension `.class` & `.exe`
*.exe

# Ignore folders .vscode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets